*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#363d6b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    text-align: center;

}

#searchInput {
    width: 1000px;
    height: 150px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    color: aliceblue;
}

#searchInput::placeholder{
    color: aliceblue;
}


.movies{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;/*filmler sığmayınca alt satırlara geçiyor*/
    margin-top: 40px;
}

.movie{
    margin: 30px;
    margin-bottom: 100px;
    background-color: #94959e;
    width: 800px;
    height: 1300px;
}

.moviePicture{
    width: 800px;
    height: 1200px;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: large;
}

h4  {
    background-color: beige;
    font-size: 60px;
    text-align: center;
}

h5{
    background-color: beige;
    font-size: 60px;
    text-align: center;
}